body{
    box-shadow: none;
}
.contents{
    margin: 0 auto;
}
.role{
    width: 350px;
    margin: 10px;
}
.forms{
    display: flex;
    flex-direction: column;
    background-color: rgba(82, 81, 81, 0.329);
    width: 400px;
    padding: 20px;
    margin: 50px auto;
    font-size: 16px;
}
.radio{
    flex-direction: row;
}
.radio input{
    height: auto;
    width: fit-content;
}
input{
    height: 35px;
    width: 350px;
    margin: 10px;
    border-radius: 5px;
}
.doctors{
    display: flex;
    flex-direction: column;
    margin: 0;
}