.accomodationcompo{
    display: flex;
    margin-top: 200px;
    justify-content: space-evenly;
}
.thirdsection{
    height: 50vh;
}

@media (max-width:1143px) {
    .accomodationcompo{
        display: flex;
    }
    .cardsa{
        width: 300px;
    }
}
@media (max-width:940px) {
    .accomodationcompo{
        display: flex;
    }
    .cardsa{
        width: 200px;
    }
}
@media (max-width:640px) {
    .thirdsection{
        height: 120vh;
    }
    .accomodationcompo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 50px;
      }
    .cardsa{
        width: 100%;
    }
}